.chats {
  display: grid;
  grid-template-columns: 180px 1fr; /* панель + чат */
  background-color: #121212;
  height: calc(100vh - 75px);
  overflow: hidden;
  position: relative;
  transition: grid-template-columns 0.3s ease-in-out;
}

/* гамбургер */
.hamburger {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 30;
}
.hamburger span {
  display: block;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* левая панель */
.chat-list {
  padding-top: 50px;
  background-color: #121212;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

.chat-link {
  padding: 10px 20px;
  display: block;
}

/* на мобилке панель absolute и уезжает */
@media (max-width: 550px) {
  .chats {
    grid-template-columns: 1fr;
  }

  .chat-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0);
  }

  .chat-list.close {
    transform: translateX(-100%);
  }
}

/* на десктопе панель сдвигает чат */
@media (min-width: 551px) {
  .chats.closed {
    grid-template-columns: 0 1fr; /* панель схлопывается */
  }
}
